<a href="https://colab.research.google.com/github/musiclip/practice_python/blob/main/20230911.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 데이터베이스 생성

    CREATE SCHEMA `testdb` ;

    create database DB이름;

# 2. 테이블 생성

    CREATE TABLE `testdb`.`users` (`id` INT NOT NULL,PRIMARY KEY (`id`));

    use DB이름;

    create table users (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255));

# 3. cmd에서 sql로 접근하기

path설정 후

    mysql -u root -p

    mysql -u root -pzxc098

    mysql -u root testdb -p

# 4. DB 보기

    show databases;

# 5. DB 사용하기

    use testdb; (testdb : DB 이름)

# 6. 테이블 보기

    show tables;

#7. 테이블 정보 확인하기

    describe users;

    desc users;

# 8. 데이터 넣기

    insert into users values('1','Evelyn');

    insert into `keos`.`users` (`id`, `name`) values ('3', 'Tupaki');

    (따옴표'와 ` 차이 있음)

# 9. 데이터 확인하기

    select * from users;

    select * from users where id=2;

# 10. 삭제하기

    drop table 테이블명; - 테이블 지우기

    drop database DB명; - DB 지우기

    truncate table users; - 데이터 지우기

# 11. 현재 사용자 확인하기

    use mysql;

    select host, user from user;

# 12. 사용자 만들기

    create user 'id'@'localhost'

    localhost 대신 '%' : 외부 접속 가능하게 해주는 host

# 13. 권한 부여

    grant all privileges on testdb.* to 'pmth'@'%';

    flush privileges;

1. 각자 계정 사용

2. testdb.users 비우기

3. testdb.users 삭제

4. testdb 삭제