<a href="https://colab.research.google.com/github/musiclip/practice_python/blob/main/Chicago_mag_url.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os, re
import urllib.request as ur
from urllib.request import urlopen, Request
from bs4 import BeautifulSoup as bs
import pandas as pd

url = 'https://www.chicagomag.com/chicago-magazine/january-2023/our-30-favorite-things-to-eat-right-now/'
hdr = {'User-Agent' : 'Mozilla/5.0'}
req = Request(url, headers = hdr)
page = urlopen(req)

soup = bs(page, 'html.parser')

food_list = []
for i in soup.find_all('h2')[4:34]:
    food_list.append(i.text)

res_list = []
for i in soup.find_all('h3')[:30]:
    res_list.append(i.text.replace('at ','').replace('\xa0',''))

unwanted_word = ['Chicago', 'Chicago Tribune', '.']
location_list = []

for i in soup.find_all('em'):
    text = i.text.strip()
    if text not in unwanted_word and not text.endswith('.'):
        location_list.append(text)

unwanted_strings = ['Chicago', 'Chicago Tribune', '.']
location_list = []

for i in soup.find_all('em'):
    text = i.text.strip()
    if text not in unwanted_strings and not text.endswith('.'):
        location_list.append(text)

location_list2 = []
for i in location_list:
    if i.startswith('$') is False:
        location_list2.append(['',i])
    else:
        location_list2.append(i.split('. ', 1))

price = []
for i in location_list2:
    if i[0].startswith('$') is False:
        price.append('')
    else:
        price.append(i[0])

address = []
for i in location_list2:
    address.append(i[1])

result = [list(item) for item in zip(food_list, res_list, price, address)]

df = pd.DataFrame(result,columns = ['food','restaurant','price','address'])
df

,food,restaurant,price,address
0,Yaki Beef Gyoza,Monster Ramen,$7.95,"3435 W. Fullerton Ave., Logan Square"
1,Dark Chocolate and Pecan Banana Bread,Mindy’s Bakery,$5,"1623 N. Milwaukee Ave., Bucktown"
2,Chicken Diavola,Coda di Volpe,$26,"3335 N. Southport Ave., Lake View"
3,Purple Velvet Cupcake,Jennivee’s Bakery,$5.50,"3301 N. Sheffield Ave., Lake View —"
4,Charred Broccoli Salad,Split-Rail,,"2500 W. Chicago Ave., Humboldt Park"
5,Ceci Bean Cavatelli,Boeufhaus,$18,"1012 N. Western Ave., Humboldt Park"
6,Mejillones,Tzuco,$24,"720 N. State St., Near North Side"
7,Wood-Grilled Berbere-Spiced Carrots,Eden,$12,"2734 W. Roscoe St., Avondale —"
8,Chicken Sandwich,Nine Bar,$14,"216 W. Cermak Rd., Chinatown"
9,Not Your Everyday Caprese,Bazaar Meat,$15,"120 N. Wacker Dr., Loop"
10,Wood-Roasted Salmon,the Graceful Ordinary,$29,"3 E. Main St., St. Charles"
11,Inaloban,Wazwan,$22,"1742 W. Division St., Wicker Park"
12,Sach Ko Ang,Khmai Cambodian Fine Dining,$13,"2043 W. Howard St., Rogers Park"
13,Taco Al Pastor,Rubi’s,$6,"1316 W. 18th St., Pilsen"
14,Chicories,Peanut Park Trattoria,$14,"1359 W. Taylor St., Little Italy"
15,Army Stew,New Village Gastro Pub,$24.99,"3566 Milwaukee Ave., Northbrook"
16,Yuk Hwe,Parachute,,"3500 N. Elston Ave., Avondale"
17,Leek Gramigne,Segnatore,$25,"1001 N. California Ave., Humboldt Park"
18,Salade Lyonnaise Canard,Obélix,$19,"700 N. Sedgwick St., River North"
19,Quail,El Che Steakhouse & Bar,$32,"845 W. Washington Blvd., West Loop"
20,Curry Beef Roti,D’s Roti & Trini Cuisine,$16,"2537 S. Wabash Ave., Bronzeville"
21,Catfish Po’ Boy,Daisy’s Po-Boy and Tavern,$14.99 for 6 inch; $28.99 for 12 inch,"5215 S. Harper Ave., Hyde Park"
22,Bougatsa,Lyra,$18,"905 W. Fulton Market, West Loop"
23,Baba Au Rhum,The Loyalist,$16,"177 N. Ada St., West Loop"
24,Lunchroom Butter Cookie Ice Cream,Shawn Michelle’s Homemade Ice Cream,$6.60 for a single,"46 E. 47th St., Bronzeville; 3252 Vollmer Rd.,..."
25,Spare Ribs Cheung Fun,Ying Dim Sum,$7.49,"2105 S. Jefferson St., Pilsen"
26,Live Eel,Holu,$45 for half eel; $86 for whole,"2101 S. Jefferson St., Pilsen"
27,Nam Tok Kor Moo Yang,Immm Rice & Beyond,$14.50,"4949 N. Broadway, Uptown"
28,Breakfast Dosa Hash,Superkhana International,$16,"3059 W. Diversey Ave., Logan Square"
29,Khachapuri,Bungalow by Middle Brow,$12,"2840 W. Armitage Ave., Logan Square"

In [4]:
soup.find_all('div', 'article-body')
tmp = soup.find_all('div','article-body')[0]

food_list = []
for item in tmp.find_all('h2'):
    food_list.append(item.text)

restaurant_list = []
for item in tmp.find_all('h3'):
    restaurant_list.append(item.text[3:])

money_list = []
address_list = []
for item in tmp.find_all('p'):
    sample_text = item.text
    idx_of_dollar = sample_text.index('$')
    money = sample_text[idx_of_dollar:].split('. ',1)[0].strip('.')
    dummy_address = sample_text[idx_of_dollar+len(money)+2:]
    money_list.append(money)
    address_list.append(dummy_address)

data = [list(item) for item in zip(food_list, restaurant_list, money_list, address_list)]
df = pd.DataFrame(data, columns = ['food','restaurant','price','address'])
df

,food,restaurant,price,address
0,Yaki Beef Gyoza,Monster Ramen,$7.95,"3435 W. Fullerton Ave., Logan Square — T.R."
1,Dark Chocolate and Pecan Banana Bread,Mindy’s Bakery,$5,"1623 N. Milwaukee Ave., Bucktown — C.B."
2,Chicken Diavola,Coda di Volpe,$26,"3335 N. Southport Ave., Lake View — J.K."
3,Purple Velvet Cupcake,Jennivee’s Bakery,$5.50,"3301 N. Sheffield Ave., Lake View — J.K."
4,Charred Broccoli Salad,Split-Rail,$13,"2500 W. Chicago Ave., Humboldt Park — A.C."
5,Ceci Bean Cavatelli,Boeufhaus,$18,"1012 N. Western Ave., Humboldt Park — A.C."
6,Mejillones,Tzuco,$24,"720 N. State St., Near North Side — A.C."
7,Wood-Grilled Berbere-Spiced Carrots,Eden,$12,"2734 W. Roscoe St., Avondale — A.T."
8,Chicken Sandwich,Nine Bar,$14,"216 W. Cermak Rd., Chinatown — A.C."
9,Not Your Everyday Caprese,Bazaar Meat,$15,"120 N. Wacker Dr., Loop — P.G."
10,Wood-Roasted Salmon,the Graceful Ordinary,$29,"3 E. Main St., St. Charles — P.G."
11,Inaloban,Wazwan,$22,"1742 W. Division St., Wicker Park — A.C."
12,Sach Ko Ang,Khmai Cambodian Fine Dining,$13,"2043 W. Howard St., Rogers Park — T.R."
13,Taco Al Pastor,Rubi’s,$6,"1316 W. 18th St., Pilsen — C.H."
14,Chicories,Peanut Park Trattoria,$14,"1359 W. Taylor St., Little Italy — A.C."
15,Army Stew,New Village Gastro Pub,$24.99,"3566 Milwaukee Ave., Northbrook — J.K."
16,Yuk Hwe,Parachute,$30,"3500 N. Elston Ave., Avondale — J.K."
17,Leek Gramigne,Segnatore,$25,"1001 N. California Ave., Humboldt Park — P.G."
18,Salade Lyonnaise Canard,Obélix,$19,"700 N. Sedgwick St., River North — J.K."
19,Quail,El Che Steakhouse & Bar,$32,"845 W. Washington Blvd., West Loop — A.C."
20,Curry Beef Roti,D’s Roti & Trini Cuisine,$16,"2537 S. Wabash Ave., Bronzeville — T.R."
21,Catfish Po’ Boy,Daisy’s Po-Boy and Tavern,$14.99 for 6 inch; $28.99 for 12 inch,"5215 S. Harper Ave., Hyde Park — A.T."
22,Bougatsa,Lyra,$18,"905 W. Fulton Market, West Loop — P.G."
23,Baba Au Rhum,The Loyalist,$16,"177 N. Ada St., West Loop — A.C."
24,Lunchroom Butter Cookie Ice Cream,Shawn Michelle’s Homemade Ice Cream,$6.60 for a single,"46 E. 47th St., Bronzeville; 3252 Vollmer Rd.,..."
25,Spare Ribs Cheung Fun,Ying Dim Sum,$7.49,"2105 S. Jefferson St., Pilsen — J.K."
26,Live Eel,Holu,$45 for half eel; $86 for whole,"2101 S. Jefferson St., Pilsen — J.K."
27,Nam Tok Kor Moo Yang,Immm Rice & Beyond,$14.50,"4949 N. Broadway, Uptown — J.K."
28,Breakfast Dosa Hash,Superkhana International,$16,"3059 W. Diversey Ave., Logan Square — J.K."
29,Khachapuri,Bungalow by Middle Brow,$12,"2840 W. Armitage Ave., Logan Square — C.B."

In [5]:
data2 = {'food':food_list,'restaurant':restaurant_list,'price':money_list,'address':address_list}
df2 = pd.DataFrame(data2)
df2

,food,restaurant,price,address
0,Yaki Beef Gyoza,Monster Ramen,$7.95,"3435 W. Fullerton Ave., Logan Square — T.R."
1,Dark Chocolate and Pecan Banana Bread,Mindy’s Bakery,$5,"1623 N. Milwaukee Ave., Bucktown — C.B."
2,Chicken Diavola,Coda di Volpe,$26,"3335 N. Southport Ave., Lake View — J.K."
3,Purple Velvet Cupcake,Jennivee’s Bakery,$5.50,"3301 N. Sheffield Ave., Lake View — J.K."
4,Charred Broccoli Salad,Split-Rail,$13,"2500 W. Chicago Ave., Humboldt Park — A.C."
5,Ceci Bean Cavatelli,Boeufhaus,$18,"1012 N. Western Ave., Humboldt Park — A.C."
6,Mejillones,Tzuco,$24,"720 N. State St., Near North Side — A.C."
7,Wood-Grilled Berbere-Spiced Carrots,Eden,$12,"2734 W. Roscoe St., Avondale — A.T."
8,Chicken Sandwich,Nine Bar,$14,"216 W. Cermak Rd., Chinatown — A.C."
9,Not Your Everyday Caprese,Bazaar Meat,$15,"120 N. Wacker Dr., Loop — P.G."
10,Wood-Roasted Salmon,the Graceful Ordinary,$29,"3 E. Main St., St. Charles — P.G."
11,Inaloban,Wazwan,$22,"1742 W. Division St., Wicker Park — A.C."
12,Sach Ko Ang,Khmai Cambodian Fine Dining,$13,"2043 W. Howard St., Rogers Park — T.R."
13,Taco Al Pastor,Rubi’s,$6,"1316 W. 18th St., Pilsen — C.H."
14,Chicories,Peanut Park Trattoria,$14,"1359 W. Taylor St., Little Italy — A.C."
15,Army Stew,New Village Gastro Pub,$24.99,"3566 Milwaukee Ave., Northbrook — J.K."
16,Yuk Hwe,Parachute,$30,"3500 N. Elston Ave., Avondale — J.K."
17,Leek Gramigne,Segnatore,$25,"1001 N. California Ave., Humboldt Park — P.G."
18,Salade Lyonnaise Canard,Obélix,$19,"700 N. Sedgwick St., River North — J.K."
19,Quail,El Che Steakhouse & Bar,$32,"845 W. Washington Blvd., West Loop — A.C."
20,Curry Beef Roti,D’s Roti & Trini Cuisine,$16,"2537 S. Wabash Ave., Bronzeville — T.R."
21,Catfish Po’ Boy,Daisy’s Po-Boy and Tavern,$14.99 for 6 inch; $28.99 for 12 inch,"5215 S. Harper Ave., Hyde Park — A.T."
22,Bougatsa,Lyra,$18,"905 W. Fulton Market, West Loop — P.G."
23,Baba Au Rhum,The Loyalist,$16,"177 N. Ada St., West Loop — A.C."
24,Lunchroom Butter Cookie Ice Cream,Shawn Michelle’s Homemade Ice Cream,$6.60 for a single,"46 E. 47th St., Bronzeville; 3252 Vollmer Rd.,..."
25,Spare Ribs Cheung Fun,Ying Dim Sum,$7.49,"2105 S. Jefferson St., Pilsen — J.K."
26,Live Eel,Holu,$45 for half eel; $86 for whole,"2101 S. Jefferson St., Pilsen — J.K."
27,Nam Tok Kor Moo Yang,Immm Rice & Beyond,$14.50,"4949 N. Broadway, Uptown — J.K."
28,Breakfast Dosa Hash,Superkhana International,$16,"3059 W. Diversey Ave., Logan Square — J.K."
29,Khachapuri,Bungalow by Middle Brow,$12,"2840 W. Armitage Ave., Logan Square — C.B."